<?xml version="1.0" encoding="UTF-8"?>
<plugin 
  xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-payments-alipay" version="1.0.1">
  <name>Alipay</name>
  <description>Cordova Plugin for Alipay</description>
  <license>ISC</license>
  <keywords>cordova,alicloud,feedback</keywords>
  <dependency id="cordova-plugin-cocoapod-support" version="^1.0.0" />
  <js-module src="www/Alipay.js" name="Alipay">
    <clobbers target="Alipay" />
  </js-module>
  <preference name="APP_ID" />
  <platform name="ios">
    <pod name="YCAlipaySDK" git="https://github.com/yccp/AlipaySDK" tag="15.5.3" />
    <config-file target="config.xml" parent="/*">
      <feature name="Alipay">
        <param name="ios-package" value="Alipay" />
      </feature>
      <preference name="APP_ID" value="$APP_ID" />
    </config-file>
    <config-file target="*-Info.plist" parent="CFBundleURLTypes">
      <array>
        <dict>
          <key>CFBundleURLSchemes</key>
          <array>
            <string>ALI$APP_ID</string>
          </array>
        </dict>
      </array>
    </config-file>
    <header-file src="src/ios/Alipay.h" />
    <source-file src="src/ios/Alipay.m" />
  </platform>
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Alipay">
        <param name="android-package" value="news.chen.yu.ionic.Alipay"/>
      </feature>
      <preference name="APP_ID" value="$APP_ID" />
    </config-file>
    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.INTERNET" />
      <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
      <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
      <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    </config-file>
    <framework src="src/android/Alipay.gradle" custom="true" type="gradleReference" />
    <resource-file src="src/android/libs/alipaySdk-20180403.jar" target="libs/alipaySdk-20180403.jar" />
    <source-file src="src/android/Alipay.java" target-dir="src/news/chen/yu/ionic" />
  </platform>
</plugin>